.page-slider
{
    text-align: center;
    margin-top: 50px;
}
.border-left {
	width: 100% !important;
}

.border-left:before {
	left: 20px !important;
}

.div-margin-30
{
    margin: 30px 0px;
}

.title-small
{
    font-size:14px;
}

.title-no-padding
 {
	padding-bottom: 0px;
}
.title-padding-20
{
  padding-bottom: 20px;
  margin: 0px;
}
.box-grey
{
    background: #fafafa;
    border: solid 1px #eee;
    padding: 10px;
    }
.box-grey .sub-title
{
 text-align:center;
 }

.left-title h2{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	color: #426AA9;
	margin:0px;
}
.left-title h3 {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0px;
	color: #3AB1FF;
	font-size: 20px;
}

h3 {}

.sub-title h3, .sub-title h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	color: #426AA9;
	/* margin:0px; */
}

.social-wrap
{
    margin:0px;
    padding:0px;
}
 .a
 {
    background-color:aqua;
 }

.icon-box-big-icon
{
    alignment-adjust: central;
   
}

 .box1
 {
     margin: 10px 0px;
     padding: 10px 10px;
     /* background-color: #5B81B5; */
     border: solid 2px #5B81B5;
     color: #093E8E;
     background: #fafafa;
     border: solid 1px #7D7979;
     text-align: justify;
 }


 .box2
 {
     margin:20px;
     padding:30px 20px;
     background-color: #6BB9C7;
     border: solid 2px #46768C;
 }

.list-unstyled1
{
 margin: 0px;
 padding: 0px;   
}
.list-unstyled1 li
{
 list-style: none; 
   
}

.list-unstyled2
{
 margin: 0px;
 padding: 0px;   
}
.list-unstyled2 li
{
 text-align: left   
}
.list-unstyled1 li i
{
 color: #5F9CBD;
 margin-right: 10px;
}
.icon-box 
{
    text-align: center;
}

/*Tabs v1*/
.tab-v1 .nav-tabs { 
	border: none;
	background: none;
	border-bottom: solid 2px #72c02c; 	
}

.tab-v1 .nav-tabs a { 
	font-size: 14px;
	padding: 5px 15px; 
}

.tab-v1 .nav-tabs > .active > a, 
.tab-v1 .nav-tabs > .active > a:hover, 
.tab-v1 .nav-tabs > .active > a:focus { 
	color: #fff;
	border: none; 
	background: #72c02c; 
}

.tab-v1 .nav-tabs > li > a { 
	border: none;
}
.tab-v1 .nav-tabs > li > a:hover { 
	color: #fff; 
	background: #72c02c; 
}

.tab-v1 .tab-content { 
	padding: 10px 0;
}

.tab-v1 .tab-content img {
	margin-top: 4px;
	margin-bottom: 15px; 
}

.tab-v1 .tab-content img.img-tab-space {
	margin-top: 7px;
}

/*Tabs v2*/
.tab-v2 .nav-tabs {
	border-bottom: none;
}

.tab-v2 .nav-tabs li a {
	padding: 9px 16px;
	background: none;
	border: none;
}

.tab-v2 .nav-tabs li.active a {
	background: #fff;
	padding: 7px 15px 9px;
	border: solid 1px #eee;
	border-top: solid 2px #72c02c;
	border-bottom: none !important;
}

.tab-v2 .tab-content {
	padding: 10px 16px;
	border: solid 1px #eee;
}

/*Tabs v3*/
.tab-v3 .nav-pills li a {
	color: #777;
	font-size: 17px;
	padding: 4px 8px;
	margin-bottom: 3px;
	background: #fafafa;
	border: solid 1px #eee;
}

.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
	color: #fff;
	background: #426AA9;
	border: solid 1px #2759A9;
}

.tab-v3 .nav-pills li i {
	width: 1.25em;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
}

.tab-v3 .tab-content {
	padding: 15px;
	background: #fafafa;
	border: solid 1px #eee;
}
.margin-top-50 {margin-top: 30px !important;}
.margin-top-50 li{/* padding:2px 0px; */}
.list-unstyled {
    padding-left: 0px;
    margin: 0px;
}
/*Accardion v1*/
.acc-v1 .panel-heading {
	padding: 0;
	box-shadow: none;
}

.acc-v1 .panel-heading a {
	display: block;
	font-size: 14px;
	padding: 5px 15px;
	background: #fefefe;
}

.acc-icon a.accordion-toggle i {
	color: #585f69;
	margin-right: 8px;
}
.acc-icon a.accordion-toggle:hover i {
	color: #39414c;
}

ul.nav-stacked
{
    margin: 0px;
    padding: 0px;
}

/*--------------------------------------------------------------
Breadcrunmb Start
--------------------------------------------------------------*/
.breadcrumb-container {border-bottom: 1px solid #f1f1f1;border-top: 1px solid #ddd;background-color: #f5f5f5;}
.breadcrumbs {
	padding: 5px 0px;
	opacity: 0.9;
	color: #d31515;
	top: 35px;
	/* background-color: #000; */
	position: relative;
}
.breadcrumbs h3 {
	font-size: 25px;
	letter-spacing: 1px;
	color: #fff;
	z-index: 3;
	text-shadow: 0 1px 8px rgba(109, 109, 109, 0.56);
	position: relative;
	top: 85px;
	min-height: 75px;
}
.breadcrumbs a {color: #fff;margin-right:5px;}
.breadcrumb_last 
{
 	margin: 5px 0px 5px 5px !important;
 	color: #fff;
 	font-size: 12px;
 	font-weight: normal;
}
.breadcrumb {
    display: inline-block;
    margin: 10px 0px;
    width: 100%;
    padding: 8px;
}
/*--------------------------------------------------------------
Bradbrumb End
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Topbar Start
--------------------------------------------------------------*/
body {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-bar
{
	background-color: #ffffff;
	color: #333333;
}
.topbar-contact-list
{margin: 10px 5px 0px 0px;padding:0px;float: right;}
.topbar-contact-list li a
{
	color: #333;
}
.topbar-contact-list li a:hover,.topbar-contact-list li a:active
{
	color: #3AB1FF;
}
.topbar-contact-list li i
{
	margin-right:5px;
	color: #0068E5;
}
#skypeTransparentDrp > div#skypeDropdown-transparent {
    z-index: 9999;
}

.social-bar{
	display: block;
	text-align: right;
	padding-top:5px;
	padding-bottom:5px;
	margin: 0px !important;
}
.skype-status-wrap{float:right;}
.social-bar-top{float:right;}
.social-bar li{
	font-size: 14px !important;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
	display: inline-block;
	height: 35px;
	margin: 0px 5px 0px 0px !important;
	width: 35px;
	/* border-radius: 50px; */
	text-align: center;
	vertical-align: middle;
	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	-ms-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	border: 2px solid #ffffff;
	cursor:pointer;
}
.social-bar li a {
    font-size: 16px !important;
    padding: 0px !important;
    line-height: 30px;
}
.social-bar i  {
	color:#fff;
	line-height: 20px;
	border-radius: 50px;
}
/* facebook */
.social-bar li.facebook{
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom,#4C66A4  50%,#1da1f2 50%);
}
.social-bar li.facebook:hover{
	background-position: 0 -100%;
	background-color:#1da1f2;
}
.social-bar li.google-plus{
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #D83820 50%, #1da1f2 50%);
}
.social-bar li.google-plus:hover{
	background-position: 0 -100%;
	background-color:#f1f1f1;
}
/* dribble */
.social-bar li.dribbble{
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #EA4C89 50%, #7FC125 50%);
}
.social-bar li.dribbble:hover{
  background-position: 0 -100%;
  background-color:#EA4C89;
 }
/* dribble */
.social-bar li.twitter{
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #7BC6F7 50%,#1da1f2  50%);
}
.social-bar li.twitter:hover{
	background-position: 0 -100%;
	background-color:#e31b25;
}
/* linkedin */
.social-bar li.linkedin{
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #069 50%, #1da1f2  50%);
}
.social-bar li.linkedin:hover{
	background-position: 0 -100%;
	background-color:#e31b25;
}
/* youtube */
.social-bar li.youtube{
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #C92228 50%, #7FC125 50%);
}
.social-bar li.youtube:hover{
	background-position: 0 -100%;
	background-color:#C92228;
}


.nicdark_bg_gradient {
    background: #74cee4;
    background: -moz-linear-gradient(left, #74cee4 0%, #66ce9c 16%, #edbf47 32%, #ec774b 49%, #74cee4 65%, #66ce9c 83%, #edbf47 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#74cee4), color-stop(16%,#66ce9c), color-stop(32%,#edbf47), color-stop(49%,#ec774b), color-stop(65%,#74cee4), color-stop(83%,#66ce9c), color-stop(100%,#edbf47));
    background: -webkit-linear-gradient(left, #74cee4 0%,#66ce9c 16%,#edbf47 32%,#ec774b 49%,#74cee4 65%,#66ce9c 83%,#edbf47 100%);
    background: -o-linear-gradient(left, #74cee4 0%,#66ce9c 16%,#edbf47 32%,#ec774b 49%,#74cee4 65%,#66ce9c 83%,#edbf47 100%);
    background: -ms-linear-gradient(left, #74cee4 0%,#66ce9c 16%,#edbf47 32%,#ec774b 49%,#74cee4 65%,#66ce9c 83%,#edbf47 100%);
    background: linear-gradient(to right, #74cee4 0%,#66ce9c 16%,#edbf47 32%,#ec774b 49%,#74cee4 65%,#66ce9c 83%,#edbf47 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74cee4', endColorstr='#edbf47',GradientType=1 );
}

/* 27 - START NIKSPACE: attribuisco la classe nicdark_space ad un div vuoto per fare degli spazi tra gli elementi*/
.nicdark_space3{ height: 3px; width: 100%;}
.nicdark_space5{ height: 5px; width: 100%; }
.nicdark_space10{ height: 10px; width: 100%; float: left; }
.nicdark_space15{ height: 15px; width: 100%; float: left; }
.nicdark_space20{ height: 20px; width: 100%; float: left; }
.nicdark_space30{ height: 30px; width: 100%; float: left; }
.nicdark_space40{ height: 40px; width: 100%; float: left; }
.nicdark_space50{ height: 50px; width: 100%; float: left; }
.nicdark_space60{ height: 60px; width: 100%; float: left; }
.nicdark_space70{ height: 70px; width: 100%; float: left; }
.nicdark_space80{ height: 80px; width: 100%; float: left; }
.nicdark_space90{ height: 90px; width: 100%; float: left; }
.nicdark_space100{ height: 100px; width: 100%; float: left; }
.nicdark_space110{ height: 110px; width: 100%; float: left; }
.nicdark_space120{ height: 120px; width: 100%; float: left; }
.nicdark_space130{ height: 130px; width: 100%; float: left; }
.nicdark_space140{ height: 140px; width: 100%; float: left; }
.nicdark_space150{ height: 150px; width: 100%; float: left; }
.nicdark_space160{ height: 160px; width: 100%; float: left; }
.nicdark_space170{ height: 170px; width: 100%; float: left; }
.nicdark_space180{ height: 180px; width: 100%; float: left; }
.nicdark_space190{ height: 190px; width: 100%; float: left; }
.nicdark_space200{ height: 200px; width: 100%; float: left; }
/*END NIKSPACE*/

/*--------------------------------------------------------------
Topbar End
--------------------------------------------------------------*/


/*--------------------------------------------------------------
contact Page Start
--------------------------------------------------------------*/


ul.footer-contact-list {
margin-left: 0px;
padding-left: 0px;
list-style: none;
font-size: .9em;
color: #333;
}

ul.footer-contact-list > li {
    margin-left: 25px;
    margin-bottom: 5px;
    font-size: 11px;
    /* font-family: 'Helvatica', 'Arial', sans-serif; */
    list-style: none;
}
ul.footer-contact-list > li > a{
    font-size: 10px;
}
ul.footer-contact-list > li > i
{
    margin-left: -25px;
    margin-right: 15px;
}
ul.footer-contact-list > li > a > i {
  margin-left: -25px;
  margin-right: 12px;
}
.contact-list li i{color: #1da1f2;margin-left: -25px !important;margin-right: 12px !important;}
.page-widget
{
    padding: 10px;
    margin-bottom: 30px;
    background-color: #f1f1f1;
}
.contact-list li, .contact-list li a{font-size: 14px !important;}
.call-now {position:fixed;right:-8px;display: none;bottom: 40%;}

.enquiry {
    width: 110px;
    height: 40px;
    position: fixed;
    bottom: 200PX;
    right: -85px;
    z-index: 999;
    display: block;
    background-color: #1da1f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    box-shadow: -1px 1px 3px #999;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
    padding: 0 13px;
}
.enquiry a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8;
}
.enquiry a:hover, .enquiry a:active {color: #ffffff;}
.enquiry:hover {background-color: #0957a4;}
.modal-header{
    background: linear-gradient(90deg,#3B90F2,#00dea8);
}
.modal-title{color: #fff;font-weight: bold;}
.modal-title a, .modal-title a:hover{color: #fff;font-weight: bold;}
.btn-block {width:100% !important;}

/*--------------------------------------------------------------
contact Page End
--------------------------------------------------------------*/