/*============================================================
	For Small Desktop
==============================================================*/
@media (min-width: 980px) and (max-width: 1150px) {
	/* parallax section */
	.parallax-section {
		background-position: center top !important;
	}

	/* home slider */
	#slider .carousel-caption h2 {
		font-size: 60px;
	}

	/* about us */
	.feature-desc h3 {
		margin-top: 0;
	}

	/* our team */
	.team-mate {
		margin-bottom: 30px;
	}

	.mask ul {
		top: 85px;
	}

	.mask ul li {
		margin: 0 5px;
	}

	.team-mate > h4 {
		margin-bottom: 10px;
	}

	.team-mate img {
		margin: 0 auto;
	}

	.member-info ul li {
		margin-right: 10px;
	}

	/* testimonial */
	.client-info {
		width: 55%;
	}

	/* blog page */
	.tab-post-nav li a {
		padding: 15px 8px;
	}

	/* single blog page */
	.author-bio h5 {
		margin-left: 70px;
	}
}

/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
	.top-bar{display:none;}
/* breadcrumbs section */
.breadcrums h1, .breadcrums p{ float:none !important;text-align:center;}
	
	/* parallax section */
	.parallax-section {
		background-position: center top !important;
	}
 
	/* home page slider */
	.carousel-caption img {
		width: 100%;
		height: 200px;
	}
	#slider .carousel-caption h2 {
		font-size: 50px;
	}

	#nav-dots {
		display: block;
	}

	#nav-arrows {
		display: none;
	}

	/* navigation */
	.navbar-inverse .navbar-nav li a {
		padding: 20px 10px;
	}

	/* about us */
	.wrap-about {
		margin: 0 0 75px;
	}

	.about-content {
		margin: 0 auto;
		width: 60%;
	}

	/* fun facts */
	.counter-section {
		padding-bottom: 50px;
	}

	.counters-item {
		margin-bottom: 30px;
	}

	/* our services */
	.service-block {
		margin: 0 auto 40px;
		width: 310px;
	}

	/* our team */
	.team-mate {
		margin: 0 auto 30px;
		width: 280px;
	}

	/* our skills */
	.skill-chart {
		margin: 0 auto 40px;
		width: 300px;
	}

	.skill-chart {
		margin: 0 auto 40px;
		width: 90%;
	}

	.skill-chart > h3 {
		margin: 15px 0;
	}

	/* pricing table */
	.pricing {
		margin: 0 auto 30px;
		width: 300px;
	}

	/* testimonial */
	.client-info {
		width: 75%;
	}

	/* latest posts */
	.note {
		margin-bottom: 30px;
	}

	/* blog page */
	.tab-post-nav li a {
		padding: 10px;
	}

	/* singla blog page */
	.author-social {
		margin-left: 0;
	}
}


/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
.navbar-brand #logo img {width: 164px;height: 50px;}
.top-bar{display:none;}
	.menu-slogan-container {float: none !important;/* background-color: #e31b25; */margin: 0px -15px;padding: 0px;}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {background-color:#000;color: #ffffff;border-bottom: 1px solid #333;}
	.navbar-nav>li>.dropdown-menu>li>a {border-bottom:1px soliid #666;}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #333;
    background-color: transparent;
}
.navbar-nav>li.open.dropdown:before, .navbar-nav>li.open.dropdown:after {opacity:0;}
/* breadcrumbs section */
.breadcrumbs h1, .breadcrumbs p{ float:none !important;text-align: center;}
.slogan-panel{width:90%;}

.topbar-right-wrap
	{
		text-align:center;
		float: none !important;
	}
	.social-bar
	{
		text-align:center;
		float: none !important;
	}
	.topbar-left-wrap
	{
		text-align:center;
		float: none !important;
	}


	
	/* parallax section */
	.parallax-section {
		background-position: center top !important;
	}

	/* h1 font size home slider */
  .home-title {
		font-size: 22px;
		margin: 0px;
		padding: 5px;
	}
	.title h2 {font-size:16px;}
	p,ul li {font-size:12px !important;}
	.border:before {left:15%;}

	.sl-slider-wrapper {200px;height: 200px !important;}
	.carousel-caption img {
		width: 100%;
		height: 200px !important;
	}

	#slider .carousel-caption h2 {
		font-size: 24px;
		letter-spacing: 0.5px;
		line-height: 35px;
		margin-bottom: 25px;
	}

	#slider .carousel-caption h3 {
		font-size: 20px;
		letter-spacing: 0.5px;
		line-height: 28px;
		margin-bottom: 25px;
	}

	#slider .carousel-caption a {
		font-size: 14px;
	}

	#nav-dots {
		display: block;
	}

	#nav-arrows {
		display: none;
	}

	/* navigation */
	.navbar-fixed-top {
		padding-bottom: 10px;
	}

	.navbar-inverse .navbar-toggle,
	.navbar-inverse .navbar-toggle {
		border-color: #0661ce;
		border-radius: 0;
		background-color: #0068E5;
	}
	.icon-bar {
		background-color: #1da1f2;
	}
	.header-menu ul {
    float: none;
}

	.navbar-inverse .navbar-toggle:hover {
		border-color: #ddd;
		border-radius: 0;
		background-color: #ca000a;
	}

	.navbar-inverse .navbar-toggle .icon-bar:hover {
		background-color: #ddd;
	}

	.navbar-collapse.in {
		overflow: hidden;
		/* width: 100%; */
		padding: 0px 15px;
		background-color: #fff;
	}

	.navbar-brand {
		/* padding: 10px 0 10px 10px; */
	}

	.navbar-toggle {
		margin: 14px 0px;
		padding: 10px;
		border: 1px solid #0957a4;
	}

	.navbar-nav {
		margin: 0 -15px;
	}

	.navbar-inverse .navbar-nav li a {
		line-height: 45px;
		padding: 0px 15px;
		/* text-align: center; */
		margin: 0px 15px;
		border-bottom: 1px solid transparent;
	}
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    border-bottom: 1px solid #333;
    background-color: #424141;
}
.home-slider {height:200px;}
.home-slider .item img{height:200px;}
.home-slider .carousel-inner>.item>a>img, .carousel-inner>.item>img {height: 200px !important;}
	.wrap-about {
		margin: 0 auto 80px;
		width: 85%;
	}

	.feature-desc a {
		margin: 5px 5px 5px 0;
	}

	/* fun facts */
	.counters-item {
		margin: 0 auto 25px;
		width: 270px;
	}

	/* services */
	#services .title {
		padding-bottom: 60px;
	}

	.service-block {
		margin: 0 auto 30px;
		/* width: 280px; */
		position: relative;
		/* left: -8px; */
	}

	/* our skills */
	.skill-chart {
		margin: 0 auto 40px;
		width: 280px;
	}

	/* our team */
	.team-mate {
		margin: 0 auto 31px;
		width: 280px;
	}

	.team-mate img {
		margin: 0 auto;
	}

	.member-info ul {
		text-align: center;
		margin-bottom: 10px;
	}

	/* pricing table */
	.pricing {
		margin: 0 auto 20px;
		width: 280px;
	}

	/* portfolio */
	.portfolio-filter ul li a {
		margin: 0 10px 10px 0;
		padding: 5px 10px;
	}

	/* testimonials */
	.sub-title h3 {
		font-size: 18px;
	}

	.client-info {
		width: 100%;
	}

	/* latest posts */
	#blog {
		padding-bottom: 0;
	}

	.note {
		margin-bottom: 30px;
	}

	.note .excerpt {
		padding: 0 20px 20px;
	}

	.all-post {
		margin: 20px 0 30px;
	}

	/* contact */
	.contact-info {
		margin: 0 0 30px;
	}

	#map-canvas {
		height: 250px;
	}

	/* footer */
	.social-icon ul li, .social-icon ul li:first-child {
		margin: 15px;
	}

	.social-icon ul li a {
		width: 50px;
		height: 50px;
	}

	.social-icon ul li a i {
		font-size: 24px;
		line-height: 50px;
	}

	.blog-title h1 {
		font-size: 28px;
	}

	/* blog page */
	#blog-page {
		margin: 0;
	}

	#blog-posts {
		margin: 0 0 40px;
	}

	.post-excerpt h3 {
		font-size: 20px;
	}

	.post-pagination ul li {
		margin: 0 10px 10px 0;
	}

	.tab-post-nav li a {
		padding: 8px 5px;
	}

	/* single blog page */
	.author-social {
		margin-left: 0;
	}

	.author-avatar {
		margin-right: 10px;
	}

	
}

/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .top-bar {display:none;}
    .menu-slogan-container {float: none;background-color: #e31b25;margin: 0px -15px;padding: 0px 15px;}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {background-color:#000;;color:#ffffff;}
	/* breadcrumbs section */
.breadcrums h1, .breadcrums p{ float:none !important;text-align:center;}

	/* homepage slider */
	#slider .carousel-caption h2 {
		font-size: 30px;
	}

	#slider .carousel-caption h3 {
		font-size: 25px;
	}

	#slider .carousel-caption a {
		font-size: 14px;
	}

	.carousel-caption img {
		width: 100%;
		height: 200px !important;
	}

	/* navigation */
	.navbar-fixed-top {
		padding-bottom: 10px;
	}

	.navbar-brand {
		padding: 10px 0 10px 10px;
	}

	.navbar-inverse .navbar-toggle {
		border-color: #6CB670;
		border-radius: 0;
	}

	.navbar-inverse .navbar-toggle:hover {
		border-color: #fff;
		border-radius: 0;
	}

	.navbar-collapse.in {
		overflow-y: inherit;
	}

	.navbar-toggle {
		margin-top: 16px;
	}

	.navbar-inverse .navbar-nav li a {
		line-height: 45px;
		padding: 0px 20px;
		/* text-align: center; */
		border-bottom: 2px solid transparent;
	}

	/* about us */
	.wrap-about {
		margin: 0 auto 75px;
		width: 70%;
	}

	/* services */
	.service-block {
		margin: 0 auto 40px;
		width: 310px;
	}

	/* our team */
	.team-mate {
		margin: 0 auto 30px;
		width: 280px;
	}

	.team-mate img {
		margin: 0 auto;
	}

	/* portfolio */
	.og-grid li {
		width: 245px;
	}

	/* skills */
	.skill-chart {
		margin: 0 auto 40px;
		width: 300px;
	}

	/* pricing table */
	.pricing {
		margin: 0 auto 30px;
		width: 350px;
	}

	/* testimonials */
	.client-info {
		width: 74%;
	}

	/* latest posts */
	#blog {
		padding-bottom: 0;
	}

	.note {
		margin: 0 auto 30px;
		width: 75%;
	}

	/* contact */
	.contact-info {
		width: 100%;
	}

	/* blog page */
	.tab-post-nav li a {
		padding: 10px 15px;
	}
}